html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #0d0b08;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas#game {
  display: block;
  background: #0d0b08;
  image-rendering: pixelated !important;
  image-rendering: -moz-crisp-edges !important;
  image-rendering: crisp-edges !important;
  image-rendering: -webkit-optimize-contrast !important;
  -ms-interpolation-mode: nearest-neighbor;
  transform: translateZ(0);
  backface-visibility: hidden;
}
